<main class="flex-1 overflow-y-auto p-4 pt-16 md:pt-4 md:p-6">
  <div class="space-y-6">
    <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between gap-4">
      <div>
        <h1 class="text-2xl md:text-3xl font-bold">{{ 'dashboard.title' | translate}}</h1>
        <p class="text-sm text-muted-foreground mt-1">{{ 'dashboard.subtitle' | translate:{ monthYear: 'julho de 2025' } }}</p>
      </div>
    </div>

    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
      <div class="rounded-lg border bg-card text-card-foreground shadow-2xs relative overflow-hidden">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-lm font-medium">{{ 'dashboard.cards.monthlyIncome.title' | translate }}</h3>
          <mat-icon fontSet="material-symbols-rounded" class="lucide mr-2 h-4 w-4 text-green-600">trending_up</mat-icon>
        </div>

        <div class="p-6 pt-0">
          <div class="text-2xl font-bold text-green-600">+{{ summary.monthlyIncome | currency:'BRL' }}</div>
          <p class="text-xs text-muted-foreground">{{ 'dashboard.cards.monthlyIncome.description' | translate }}</p>
        </div>
      </div>

      <div class="rounded-lg border bg-card text-card-foreground shadow-2xs relative overflow-hidden">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-lm font-medium">{{ 'dashboard.savings.title' | translate }}</h3>
          <mat-icon fontSet="material-symbols-rounded" class="lucide mr-2 h-4 w-4 text-red-600">trending_down</mat-icon>
        </div>

        <div class="p-6 pt-0">
          <div class="text-2xl font-bold text-red-600">-{{ summary.monthlyExpense | currency:'BRL' }}</div>
          <p class="text-xs text-muted-foreground">{{ 'dashboard.savings.description' | translate }}</p>
        </div>
      </div>

      <div class="rounded-lg border bg-card text-card-foreground shadow-2xs relative overflow-hidden">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-lm font-medium">{{ 'dashboard.cards.netBalance.title' | translate }}</h3>
          <mat-icon fontSet="material-symbols-rounded" class="lucide mr-2 h-4 w-4 text-green-600">attach_money</mat-icon>
        </div>

        <div class="p-6 pt-0">
          <div *ngIf="summary.netBalance > 0" class="text-2xl font-bold text-green-600">+ {{ summary.netBalance | currency:'BRL' }}</div>
          <div *ngIf="summary.netBalance <= 0" class="text-2xl font-bold text-red-600">{{ summary.netBalance | currency:'BRL' }}</div>
          <p class="text-xs text-muted-foreground">{{ 'dashboard.cards.netBalance.description' | translate }}</p>
        </div>
      </div>

      <div class="rounded-lg border bg-card text-card-foreground shadow-2xs relative overflow-hidden">
        <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
          <h3 class="tracking-tight text-lm font-medium">{{ 'dashboard.cards.activeSubscriptions.title' | translate }}</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="oklch(66.6% 0.179 58.318)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-repeat h-5 w-5"><path d="m17 2 4 4-4 4"></path><path d="M3 11v-1a4 4 0 0 1 4-4h14"></path><path d="m7 22-4-4 4-4"></path><path d="M21 13v1a4 4 0 0 1-4 4H3"></path></svg>
        </div>

        <div class="p-6 pt-0">
          <div class="text-2xl font-bold text-amber-600">-{{ summary.totalValueForActiveSubscriptions | currency:'BRL' }}</div>
          <p class="text-xs text-muted-foreground">{{ 'dashboard.cards.activeSubscriptions.description' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="grid gap-4 md:grid-cols-2">
      <div class="rounded-lg border bg-card text-card-foreground shadow-2xs">
        <div class="flex flex-col space-y-1.5 p-6">
          <div class="flex flex-row gap-2">
            <mat-icon fontSet="material-symbols-rounded" class="lucid h-4 w-4">nest_thermostat_gen_3</mat-icon>
            <h3 class="text-2xl font-semibold leading-none tracking-tight flex items-center gap-2">
              {{ 'dashboard.savings.title' | translate }}
            </h3>
          </div>
          <p class="text-sm text-muted-foreground">{{ 'dashboard.savings.description' | translate }}</p>
        </div>

        <div class="p-6 pt-0">
          <div class="text-3xl font-bold mb-4">{{ summary.totalSavings | currency:'BRL' }}</div>

          <div class="space-y-2">
            <div class="flex justify-between text-sm">
              <span>{{ 'dashboard.savings.investmentAccounts' | translate }}</span>
              <div class="flex-grow border-b border-dotted h-4"></div>
              <span>{{ 'dashboard.savings.accountsCount' | translate:{ count: 0 } }}</span>
            </div>

            <div class="text-xs text-muted-foreground">{{ 'dashboard.savings.tip' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="rounded-lg border bg-card text-card-foreground shadow-2xs">
        <div class="flex flex-col space-y-1.5 p-6">
          <div class="flex flex-row gap-2">
            <mat-icon fontSet="material-symbols-rounded" class="lucid h-4 w-4 text-amber-600">data_usage</mat-icon>
            <h3 class="text-2xl font-semibold leading-none tracking-tight flex items-center gap-2">{{ 'dashboard.charts.spendingByCategory.title' | translate }}</h3>
          </div>
          <p class="text-sm text-muted-foreground">{{ 'dashboard.charts.spendingByCategory.description' | translate }}</p>
        </div>

        <div class="p-6 pt-0 h-80">
          <!-- <div class="flex items-center justify-center h-full">
            <mat-spinner diameter="40" color="hsl(217.2 91.2% 59.8%)"></mat-spinner>
          </div> -->
          <div *ngIf="!isLoading" class="h-full">
            <canvas baseChart
                    [data]="pieChartData"
                    [options]="chartOptions"
                    [type]="'doughnut'">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="rounded-lg border bg-card text-card-foreground shadow-2xs">
      <div class="flex flex-col space-y-1.5 p-6">
        <div class="flex flex-row gap-2">
          <mat-icon fontSet="material-symbols-rounded" class="lucid h-4 w-4 text-amber-600">finance</mat-icon>
          <h3 class="text-2xl font-semibold leading-none tracking-tight flex items-center gap-2">{{ 'dashboard.charts.monthlyTrends.title' | translate }}</h3>
        </div>
        <p class="text-sm text-muted-foreground">{{ 'dashboard.charts.monthlyTrends.description' | translate }}</p>
      </div>

      <div class="p-6 pt-0 h-80">
         <div *ngIf="isLoadingTrends" class="flex items-center justify-center h-full">
            <mat-spinner diameter="40"></mat-spinner>
        </div>

        <div *ngIf="!isLoadingTrends" class="h-full w-full">
           <canvas baseChart
               [data]="barChartData"
               [options]="barChartOptions"
               [type]="barChartType">
           </canvas>
        </div>
      </div>
    </div>
  </div>
</main>
