<header class="border-b bg-background px-4 py-3 sticky top-0 z-10">
  <div class="flex items-center justify-end">
    <div class="flex items-center gap-4">
      <button class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground h-10 w-10">
        <mat-icon fontSet="material-symbols-rounded" class="h-4 w-4" icon="heroicons:bell">dark_mode</mat-icon>
      </button>
      <button onclick="" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground h-10 w-10 [&_span]:hover:bg-background">
        <span class="relative flex shrink-0 overflow-hidden rounded-full h-8 w-8">
          <span class="flex h-full w-full items-center justify-center rounded-full bg-muted">
            {{ user_inicial }}
          </span>
        </span>
      </button>
    </div>
  </div>
</header>
