<div [@fadeSlide] (click)="onCancel()" class="fixed inset-0 z-50 bg-black/30 backdrop-blur-sm"></div>

<div [@fadeSlide] class="fixed left-[50%] top-[50%] z-50 w-full max-w-lg md:w-auto md:max-w-none grid translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background p-6 shadow-lg duration-200 rounded-lg">
  <div class="flex flex-col space-y-1.5 text-center sm:text-left">
    <h2 class="text-lg font-semibold leading-none tracking-tight">{{ modalTitle }}</h2>
    <p class="text-sm text-muted-foreground">{{ modalDescription }}</p>
  </div>

  <form (ngSubmit)="onCreate($event)">
    <div class="grid gap-4 py-4">
      <div class="grid gap-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="description">Descrição</label>
        <input
          [(ngModel)]="description"
          name="description"
          type="text"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
          id="description"
          required
          placeholder="Ex: Conta principal">
      </div>

      <div class="grid gap-2">
        <div class="relative">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="bankDropdown">Banco</label>

          <button type="button" (click)="toggleBankDropdown()" class="inline-flex items-center gap-2 whitespace-nowrap rounded-md border border-input bg-background px-3 py-2 text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-full justify-between">
            {{ selectedBank?.name || 'Selecione um banco' }}
            <mat-icon *ngIf="bankDropdownOpen" class="lucide ml-2 h-4 w-4 shrink-0 opacity-50">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!bankDropdownOpen" class="lucide ml-2 h-4 w-4 shrink-0 opacity-50">keyboard_arrow_up</mat-icon>
          </button>
          <ul *ngIf="bankDropdownOpen" class="absolute z-50 mt-1 max-h-60 w-full overflow-auto rounded-md border border-input bg-background text-sm shadow-lg">
            <li *ngFor="let bank of banks" (click)="selectBank(bank)" [ngClass]="{ 'bg-accent text-accent-foreground': selectedBank?.id === bank.id }" class="cursor-pointer px-3 py-2 hover:bg-accent hover:text-accent-foreground">
              {{ bank.name }}
            </li>
          </ul>
        </div>
      </div>

      <div class="grid gap-2">
        <div class="relative">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="accountTypeDropdown">Tipo da conta</label>

          <button type="button" (click)="toggleAccountTypeDropdown()" class="inline-flex items-center gap-2 whitespace-nowrap rounded-md border border-input bg-background px-3 py-2 text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-full justify-between">
            {{ selectedAccountType || 'Selecione um tipo de conta' }}
            <mat-icon *ngIf="accountTypeDropdownOpen" class="lucide ml-2 h-4 w-4 shrink-0 opacity-50">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!accountTypeDropdownOpen" class="lucide ml-2 h-4 w-4 shrink-0 opacity-50">keyboard_arrow_up</mat-icon>
          </button>
          <ul *ngIf="accountTypeDropdownOpen" class="absolute z-50 mt-1 max-h-60 w-full overflow-auto rounded-md border border-input bg-background text-sm shadow-lg">
            <li *ngFor="let type of accountTypes" (click)="selectAccountType(type)" [ngClass]="{ 'bg-accent text-accent-foreground': selectedAccountType === type }" class="cursor-pointer px-3 py-2 hover:bg-accent hover:text-accent-foreground">
              {{ type }}
            </li>
          </ul>
        </div>
      </div>

      <div class="grid gap-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="balance">{{ isEditMode ? 'Saldo atual' : 'Saldo inicial' }}</label>
        <input
          [(ngModel)]="initialBalance"
          name="initialBalance"
          type="number"
          step="0.01"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
          id="balance"
          required
          placeholder="Ex: 1000.00">
      </div>

      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div class="grid gap-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="closingDay">Dia de fechamento</label>
          <input
            [(ngModel)]="closingDay"
            name="closingDay"
            type="number"
            min="1"
            max="31"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
            id="closingDay"
            required
            placeholder="Ex: 5">
        </div>

        <div class="grid gap-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="paymentDueDay">Dia de vencimento</label>
          <input
            [(ngModel)]="paymentDueDay"
            name="paymentDueDay"
            type="number"
            min="1"
            max="31"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
            id="paymentDueDay"
            required
            placeholder="Ex: 15">
        </div>
      </div>
    </div>

    <div class="md:w-[calc(50%-8px)] grid grid-cols-1 md:grid-cols-2 gap-4 ml-auto">
      <button (click)="onCancel()" type="button" class="inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4">
        Cancelar
      </button>
      <button type="submit" class="inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-1">
        {{ submitButtonText }}
      </button>
    </div>
  </form>
</div>

